<web-app>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>		
		<param-value>classpath:beans.xml</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>	
		
	<servlet>	
		<servlet-name>rookie</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>rookie</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
</web-app>